.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: white;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color:white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #FF6E00;
}

/* selected link */
a:active {
  color: blue;
}

.ColumnLayout{
  white-space: nowrap;
}

.Body{
  width:90%;
}

.Column{
  height: 100%;
  float: left;
  padding: 0px;
}