img {
    max-height: 100%;
    max-width: 100%;
}

.gmnoprint img {
    max-width: none;
}

h1{
    font-size: 4em;
    min-width: 1em;
}

.Floater{
    display: inline-block;
}

.ColumnLayout{
    white-space: nowrap;
}

.Column{
    height: 100%;
    float: left;
}

#NavPanel{
    color: aliceblue;
    background-color: brown;
    height: 100vh;
    width: 15vw;
    max-height: 100vh;
    min-width: 70px;
}

#Occurrences{
    background-color: gainsboro;
    width: 35vw;
    height: 100vh;
}

.logo{
    text-align: center;
    min-height: 70px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: chocolate;
}

/* selected link */
a:active {
    color: blue;
}

.form {
    height: 75%;
    overflow: auto;
}

#image{
    height: 100%;
}

#title{
    position: fixed;
    top: 0;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    width: 85vw;
}
