img {
    max-height: 100%;
    max-width: 100%;
}

.gmnoprint img {
    max-width: none;
}

h1{
    font-size: 4em;
    min-width: 1em;
    margin: 0px;
}

.Floater{
    display: inline-block;
}

.ColumnLayout{
    white-space: nowrap;
}

.Column{
    height: 100%;
    float: left;
}

#NavPanel{
    color: aliceblue;
    background-color: #F5F5F5;
    height: 100vh;
    width: 15vw;
    max-height: 100vh;
    min-width: 70px;
    border-right: #FF6E00 solid 5px;
    margin-right: -5px;
    z-index: 99;
}

#Occurrences{
    background-color: gainsboro;
    width: 35vw;
    height: 100vh;
}

#occu{
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.logo{
    text-align: center;
    min-height: 70px;
}

.TextOccurrence{
    display:inline;
    white-space:nowrap;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: chocolate;
}

/* selected link */
a:active {
    color: blue;
}

.form {
    height: 75%;
    overflow: auto;
}

#image{
    height: 100%;
}

.OccurrenceImage{
    float:right;
    height: 40%;
    width: 40%;
    display:inline;
}

#OcurrenceP{
    text-align:center;
    display: inline-block;
    direction: rtl;
}


#title1{
    border-style: double;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#text{
    position: center;
    text-align: justify;
    text-indent: 50px;
}

#msg{
    background-position: bottom;
}

#location_map {
    display: inline-block;
    height: 150px;
    width: 300px;
}

#TextConctatos1{
    padding: 30px;
    text-align: center;
}

#TextConctatos2{
    margin: 0 auto;
    padding: 50px;
    display: inline-block;
}

#xpto {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%;
}

#description{

    padding: 25px;
}

.TipsPanel{
    border-left: black solid;
    height: 100vh;
}