.CommentList{


}

.CommentBox{
    width: 851px;
    background-color: white;
    margin: auto;
    text-align: center
}

.commentButtons {
    width: 851px;
    background-color: white;
    margin: auto;
    text-align: center
}

img{
    max-width: 100%;
    height: auto;
}

#authorLogo{

}

#mainComment {

}