#entityTitle{

}

#coverImage{
    width: 851px;
    height: 315px;
    border: black solid 0.5px;
}

#nameTitle{
    padding-left: 10px;
    display: inline-block;
    border: solid black;
    width: 50%;
}


#entityLogo{
    width: 200px;
    height: 200px;
    display: inline-block;
    border: solid black;
}

#statistics{
    width: 200%;
    height: 40vh;
    float:left;
    border: solid black;
}

#treatedOccurrences{

}