#Occurrences {
    display: block;
    background-color: #FF6E00;
    height: 100vh;
    width: 25%;
    float: left;
    padding: 0px;
}

#occurrenceImage{
    display: block;
}

.OccurrencePage #occurrenceImage{
    height: 315px;
    text-align: center;
}

.occurrence{
    display: block;
    background-color: white;
    border: solid 0.2px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.occurrence p{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 3px;
}

.OccurrencePage #occurrenceTitle{
    margin-top: 0px;
}



#occurrenceTitle{
    text-align: center;
    font-weight: bold;
    padding-left: 0;
}

#occurrenceList{
    overflow-y: scroll;
    float:left;
    height: 90vh;
}



#OccurrencesTitle{
    text-align: center;
    font-weight: bold;
    background-color: #FF6E00;
    display: block;
}

.OccurrencePage{
    width: 851px;
    background-color: white;
    height: 100vh;
    margin: auto;
}