#Occurrences {
    display: block;
    background-color: #FF6E00;
    height: 100vh;
    width: 25%;
    float: left;
    padding: 0px;
}

.OccurrencePage #occurrenceImage{
    margin:auto;
    width:50%;
}

#occurrenceImage{
    background-color: darkgrey;
    justify-content: center;
    width: 100%;
    max-height: 200px;

}

#occurrenceImage img{
    display:block;
    max-height: 200px;
    margin:auto;
}



.occurrence{
    display: block;
    width: 80%;
    margin: auto;
    background-color: white;
    border: solid 0.2px;
    font-size: 12px;
    margin-top: 10px;
}

.occurrence p{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 3px;
}

.OccurrencePage #occurrenceTitle{
    margin-top: 0px;
}



#occurrenceTitle{
    text-align: center;
    font-weight: bold;
    padding-left: 0;
}

#occurrenceList{
    overflow-y: auto;
    float:left;
    height: 90vh;
    width: 100%;
}



#OccurrencesTitle{
    text-align: center;
    font-weight: bold;
    background-color: #FF6E00;
    display: block;
}

.OccurrencePage{
    width: 855px;
    background-color: white;
    opacity: 1;
    height: 100vh;
    margin: auto;
    z-index: 3;
}

.occurrence a {
    text-decoration: none;
}

/* unvisited link */
.occurrence a:link {
    color: black;
}

/* visited link */
.occurrence a:visited {
    color: black;
}

/* mouse over link */
.occurrence a:hover {
    color: #FF6E00;
}

/* selected link */
.occurrence a:active {
    color: black;
}

#xpto{
    background-color: gainsboro;
    width: 70%;
    height: 100vh;
    text-align: center;
    display: block;
    margin-left: auto;
}

.OccurrenceTips {
    display: inline-block;


}

.TipsPanel{
    display: inline-block;
    text-align: center;
    width: 30%;
    float: right;
}

.occurrence a {
    text-decoration: none;
}

/* unvisited link */
.occurrence a:link {
    color: black;
}

/* visited link */
.occurrence a:visited {
    color: black;
}

/* mouse over link */
.occurrence a:hover {
    color: #FF6E00;
}

/* selected link */
.occurrence a:active {
    color: black;
}