.perfilPage{
    margin: auto;
    width: 855px;
    background-color: white;
    height: 100%;
}

#coverImage{
    width: 853px;
    height: 200px;
    border: black solid 0.5px;
    background-color: black;
    color: white;
}

#UserFoto{
    background-color: #fff;
    border-radius: 3px;
    display: block;
    height: 160px;
    position: relative;
    width: 160px;
    box-shadow: none;
    left: 15px;
    margin-top: 0;
    top: -143px;
    padding: 1px;
    border: black solid 0.5px;
}

#sobreMim{
    display: block;
    background-color: lightgray;;
    width: 35%;
    float: left;
    padding: 0px;
    height: 68vh;
}

#minhasOcurrencias{
    display: block;
    background-color: lightgray;
    width: 55%;
    float: right;
    padding: 0px;
    height: 68vh;
}


.perfilPage #occurrenceList{
    overflow-y: auto;
    float:left;
    height: 58vh;
}

#imagensOcurrencias{
    display: block;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.perfilPage .occurrence{
    display: block;
    background-color: white;
    border: solid 0.2px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}